
/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.header-right {
    margin-right: 100px;
}
.header-area.zekio-sticky {
	padding: 0 15px;
	padding-top: 20px;
}
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.header-right {
	margin-right: 100px;
}
.price-item {
	padding: 40px 15px;
}
}
.mean-container a.meanmenu-reveal {
	margin-top: -36px;
}

/* small mobile :320px. */
@media (max-width: 767px) {
.section-header h2 {
	font-size: 35px;
}
.single-slider {
	min-height: 730px;
}
	
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}