.mediarow .row {
    margin-right: -5px;
    margin-left: -5px;
}

.img_div_modal {
    padding-right: 5px;
    padding-left: 5px;
}

.fadeoverlay {
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
    /* margin-bottom: 5px; */
    height: 132px;
    /* padding: 1px; */
    border: 1px solid #f3f3f2;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.29); */
    background: #efefef;
}

.fadeoverlay p {
    position: absolute;
    left: 0;
    right: 0;
    padding: 6px;
    bottom: -12px;
    overflow: hidden;
    max-height: 100%;
    word-wrap: break-word;
    text-align: center;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0 1px #e4e4e4;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fadeheight {
    height: 113px;
    overflow: hidden;
}

.staffinfo-box img,
.fadeoverlay img {
    display: block;
    width: 100%;
}

.fadeoverlay .videoicon {
    position: absolute;
    z-index: 99;
    top: 2px;
    font-size: 24px !important;
    color: rgba(66, 66, 66, 0.34);
    right: 3px;
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
}

.overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 101%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.69);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 4px;
    border: 0px solid rgba(0, 0, 0, 0.69);
}

.overlay3 .uploadcheckbtn {
    color: white;
    font-size: 30px;
    display: inline-block;
    padding-top: 15%;
    padding-right: 10px;
}

.overlay3 .uploadclosebtn {
    color: white;
    font-size: 30px;
    display: inline-block;
    padding-top: 15%;
}

.overlay3 .processing {
    opacity: 0;
}

.staffinfo-box:hover .overlay3,
.fadeoverlay:hover .overlay3 {
    opacity: 1;
}

.break {
    word-break: break-all;
}

.smcomment-header {
    height: 400px;
    overflow: hidden;
}

.smcomment-title {
    padding-top: 20px;
    padding-right: 30px;
}

.pup100 {
    width: 98%;
    margin: 50px auto auto
}

.pupscroll {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.pupscroll300 {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}


.popup_image img {
    width: 100%;
    height: auto;
}

.fullshadow {
    box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
}

.theme-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24) !important;
}

.fadeoverlay.active {
    border: 4px solid #0468fa;
    border-radius: 6px;
}

ol {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

ol.sortable {
    margin: 0 0 0 0px;
    padding: 0;
    list-style-type: none;
}

ol.sortable ol {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
}

.sortable li {
    margin: 7px 0 0 0;
    padding: 0;
    position: relative;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0;
    position: relative;
    width: 0;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: rgb(0, 0, 0);
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: #44c55d;
    left: 20px;
}


.ui-sortable-handle a {
    color: #444;
}

.tooltip.top .tooltip-inner {
    background-color: #000;
    padding: 5px 20px;
    opacity: 100;
    border-radius: 2px;

}

.tooltip.top .tooltip-arrow {
    border-top-color: #000;
    opacity: 0.5;
}


.sortable li div:after {
    content: "\f022";
    position: absolute;
    top: 6px;
    left: 10px;
    font-size: 15px;
    font-family: 'FontAwesome';
    cursor: move;
}

.sortable li div {
    display: block;
    margin-bottom: 5px;
    border: 1px solid #d2d6de;
    background: rgb(238, 238, 239);
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 5px 5px 30px;
    margin: 0;
    cursor: move;
}

.w-0 {
    width: 0px;
}

.w-100 {
    width: 100px;
}

.w-210 {
    width: 210px !important;
}

.w-210 img {
    width: 210px !important;
}

.pointer {
    cursor: pointer
}

.bb {
    border-bottom: 1px solid #e5e5e5;
}

.bt {
    border-top: 1px solid #e5e5e5;
}

.bb:last-child {
    border-bottom: none;
}

.pb-sm {
    padding-bottom: 8px !important;
}

.pt-sm {
    padding-top: 8px !important;
}

.pr-sm {
    padding-right: 8px !important;
}

.pl-sm {
    padding-left: 8px !important;
}

.pt-md {
    padding-top: 15px !important;
}

.pb-md {
    padding-bottom: 15px !important;
}

.mt0 {
    margin-top: 0 !important;
}

.h-437 {
    height: 437px !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.fs-0-8 {
    font-size: 0.8rem !important;
}

.w-210 {
    width: 210px !important;
}

.z-index {
    z-index: 1 !important;
}

.add_heading {
    margin: 12px 12px 0 0 !important;
}

.fs-22 {
    font-size: 22px !important;
}

section.package-section {
    background: #fff;
    color: #7a90ff;
    /*padding: 2em 0 8em;*/
    /*min-height: 100vh;*/
    position: relative;
    -webkit-font-smoothing: antialiased;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
    border-radius: 20px 20px 10px 10px;
}

.packaging {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    /*margin: 0 auto 3em;*/
}

.packaging-item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: center;
    -webkit-flex: 0 1 550px;
    flex: 0 1 550px;
    margin-bottom: 2em !important;
}

.packaging-action {
    color: inherit;
    border: none;
    background: none;
}

.packaging-action:focus {
    outline: none;
}

.packaging-feature-list {
    text-align: left;
}

.packaging-palden .packaging-item {
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    color: #84697c;
    background: #fff;
    /*margin: 1em;*/
}

@media screen and (min-width: 66.25em) {

    .packaging-palden .packaging__item--featured {
        margin: 0;
        z-index: 10;
        box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
    }
}

.packaging-palden .packaging-deco {
    /*border-radius: 10px 10px 0 0;*/
    padding: 2em 0 10em;
    position: relative;
}

.packaging-palden .packaging-deco-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
}

.main_package .packaging-palden .packaging-title {
    font-size: 0.8em;;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: normal !important;
    color: #fff;
}

.packaging-palden .deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.packaging-palden .packaging-item:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
}

.packaging-palden .packaging-item:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
}

.packaging-palden .icon {
    font-size: 2.5em;
}

.main_package .packaging-palden .packaging-package {
    font-size: 3em;
    font-weight: bold;
    padding: 0;
    color: #fff;
    margin: 0 0 0.25em 0;
    line-height: 0.75;
}

.main_package .packaging-palden .packaging-currency {
    font-size: 0.15em;
    vertical-align: top;
}

.packaging-palden .packaging-period {
    font-size: 0.15em;
    padding: 0 0 0 0.5em;
    font-style: italic;
}

.packaging-palden .packaging__sentence {
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 0 0 0.5em;
}

.packaging-palden .packaging-feature-list {
    margin: 0;
    padding: 0.25em 0 15px;
    list-style: none;
    /*text-align: center;*/
}

.packaging-palden .packaging-feature {
    padding: 2px 0;
}

.packaging-palden li.packaging-feature {
    border-bottom: 1px dashed #564aa3;
    margin-right: 33px;
    margin-left: 20px;
}

.packaging-palden li.packaging-feature:last-child {
    border-bottom: none !important;
}

.packaging-palden .packaging-action {
    font-weight: bold;
    margin: auto 3em 2em 3em;
    padding: 1em 2em;
    color: #fff;
    border-radius: 30px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.packaging-palden .packaging-action:hover, .packaging-palden .packaging-action:focus {
    background-color: #3378ff;
}

.packaging-palden .packaging-item--featured .packaging-deco {
    padding: 5em 0 8.885em 0;
}

.packaging-feature i {
    font-size: 15px;
    float: left;
    margin: 0px 8px 0px 0px;;
}

.packaging-feature .fa-times {
    margin: 2px 11px 0px 2px !important;
    color: red;
}

.custom_ul {
    list-style: none;
    padding: 0.25em 13px 0px;;
}

.custom_ul li {
    border-bottom: 1px dashed #564aa3;
    padding: 4px 0px;
}

.custom_ul li a {
    padding: 0.25em 0 2.5em;
}

.custom_ul i {
    font-size: 15px;
    /*float: left;*/
    margin: 0px 8px 0px 0px;;
}

.main_package .package_position {
    text-align: initial;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.pricing_check {
    color: #3378ff;
}

.custom-bg {
    background-color: #3d63eb;
    color: #fff;
}

.pricing_times {
    color: red;
}

.ribbon-wrapper-red {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
    z-index: 1;
}

.ribbon-red {
    font: 700 15px Sans-Serif;
    text-align: center;
    text-shadow: hsla(0, 0%, 100%, .5) 0 1px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    right: 10px;
    top: 16px;
    width: 122px;
    background-color: #f90000;
    color: #ffffff;
    background-image: -o-linear-gradient(top, #bfdc7a, #8ebf45);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.package_modal .packaging-palden .packaging-title {
    font-size: 1.0em;;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
}

.package_modal .package_details .packaging-palden .packaging-package {
    font-size: 5em;
    font-weight: bold;
    padding: 0;
    color: #fff;
    margin: 0 0 0.25em 0;
    line-height: 0.75;
}

.package_modal .package_details .package_position {
    text-align: initial;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.package_modal .package_details .package_position .packaging-title {
    letter-spacing: 2px !important;
}

.plain_package_details .packaging-palden .packaging-package {

    font-size: 5em;
    font-weight: bold;
    padding: 0;
    color: #fff;
    margin: 0 0 0.25em 0;
    line-height: 0.75;
}

.plain_package_details section.package-section {
    padding: 20px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.tw-group-hover {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.tw-group:hover .tw-group-hover {
    opacity: 1;
    visibility: visible;
}

.active.tw-group .tw-group-hover {
    opacity: 1;
    visibility: visible;
}

.theme {
    border: 1px solid #ddd;
}


.theme.active {
    border-color: rgb(37 99 235/var(--tw-border-opacity));
}

.thumbnil-price {
    position: relative;
}

.product-item {
    padding: 1.25rem;
    border-radius: 0.3125rem;
    background-color: #e6eaee;
    margin-bottom: 0.625rem;
    min-height: 353px !important;
}

.thumbnil-price {
    padding-bottom: 1.25rem;
}

.thumbnil-price img {
    border-radius: 5px;
}

.thumbnil-price .product-price {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.125rem;
    padding: 0.625rem 0.75rem;
}

.fz-18-b-black {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #212534 !important;
}

.fz-15-m-black-2 {
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.625rem;
    color: #676c7d;
}

.btn-main {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.375rem;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a7efb;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    outline: none;
    border: 0.0625rem solid transparent;
    border-radius: 0.3125rem;
    padding: 0.375rem 0.75rem;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.h_50 {
    height: 3.125rem;
}

.w_131 {
    width: 8.1875rem;
}

.product-learn-link {
    text-decoration: none !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.375rem;
    color: #212534 !important;
}

.download-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.creative-photo {
    padding: 0.75rem;
    border-radius: 0.9375rem;
    background: rgb(211, 234, 249);
    background: linear-gradient(45deg, rgb(211, 234, 249) 0%, rgb(235, 221, 248) 100%);
}

.p-description {
    font-size: 16px;
}

.switcher-btn {
    position: fixed;
    top: 200px;
    right: 0;
    height: 41px;
    width: 40px;
    padding: 3px;
    border-radius: 0 30px 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.switcher-btn i {
    font-size: 35px;
}

.switcher-btn .cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background: #ff0000;
    color: #fff;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 50%;
}

.offcanvas {
    position: fixed;
    bottom: 0px;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0px;
    transition: transform 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 400px;
    --bs-offcanvas-height: 30vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-bg: #ffffff;
    --bs-offcanvas-border-width: 1px;
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.offcanvas.offcanvas-end, .offcanvas.offcanvas-start {
    width: 342px !important;
}

.offcanvas.offcanvas-end {
    top: 0px;
    right: 0px;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
}

.offcanvas.offcanvas-start {
    top: 0px;
    left: 0px;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: none;
}

.offcanvas.hiding, .offcanvas.show, .offcanvas.showing {
    visibility: visible;
}

.offcanvas-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.offcanvas-backdrop.fade {
    opacity: 0;
}

.offcanvas-backdrop.show {
    opacity: 0.5;
}

.offcanvas-header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}

.offcanvas-header .btn-close {
    padding: calc(var(--bs-offcanvas-padding-y) * .5) calc(var(--bs-offcanvas-padding-x) * .5);
    margin-top: calc(-.5 * var(--bs-offcanvas-padding-y));
    margin-right: calc(-.5 * var(--bs-offcanvas-padding-x));
    margin-bottom: calc(-.5 * var(--bs-offcanvas-padding-y));
}

.offcanvas-title {
    margin-bottom: 0px;
    line-height: 1.5;
}

.offcanvas-body {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    overflow-y: auto;
}

.hide_offcanvas {
    position: absolute;
    top: 40%;
    left: -25px;
    font-size: 30px;
    cursor: pointer;
    background: #e6eaee;
}

.shadow {
    box-shadow: rgba(60, 72, 88, 0.15) 0px 0px 3px !important;
}

.border-0 {
    border: 0px !important;
}

.cart-img {
    width: 6rem;
    height: 6rem;
    border: 1px solid rgb(229, 231, 235, 1);
}

.home-activity .tab-content {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px;
}

.ps-view {
    margin-bottom: 50px;
}

.tw-h-screen {
    height: 100vh;
}

.view-company-modal {
    overflow: hidden !important;
}

.view-company-modal .modal-header {
    padding: 0.5rem 0.75rem;
    background: #f1f5f9;
}

.view-company-modal .modal-header .close {
    margin-top: 0;
}

.view-company-modal .modal-header button.btn.dropdown-toggle.btn-default {
    border-color: rgb(37 99 235/var(--tw-text-opacity));
}

.view-company-modal .modal-content {
    height: inherit;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

.view-company-modal .modal-body {
    margin: 0;
    padding: 0;
    flex: 1;
}

.view-company-modal .modal-header .select-placeholder:after,
.view-company-modal .modal-header .form-group.label {
    display: none !important;
}

.view-company-modal .modal-header .form-group {
    margin-bottom: 0;
}

.tw-pl-0 {
    padding-left: 0px;
}

.tw-pr-0 {
    padding-right: 0;
}

